<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926969906315-sis73t8f3fijj5ol9paf2greug4j8b2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926969906315-sis73t8f3fijj5ol9paf2greug4j8b2g</string>
	<key>API_KEY</key>
	<string>AIzaSyD68WGNRgAsde5wrO-wQOlKIJRr1z4WUZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>926969906315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cj.DysarthriaChecker</string>
	<key>PROJECT_ID</key>
	<string>dysarthriachecker</string>
	<key>STORAGE_BUCKET</key>
	<string>dysarthriachecker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926969906315:ios:8b133e95659d4be507408e</string>
</dict>
</plist>